{% extends 'base.html' %}

{% block title %}
Journal Entries
{% endblock title %}

{% block page_heading %}
<div class="px-3 h2">Journal Entries</div>
{% endblock %}

{% block content %}
    
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Transaction Date</th>
                <th scope="col">Transaction </th>
                <th scope="col">Account </th>   
                <th scope="col">Debit</th>
                <th scope="col">Credit</th>
                <th scope="col">Posted?</th>
                <th scope="col">Post Date</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for journal_entry in object_list %}
                <tr>
                    <td>{{ journal_entry.transaction.transaction_date }}</td>
                    <td>{{ journal_entry.transaction.description }}</td>
                    <td>{{ journal_entry.account.description }}</td>
                    <td class="text-end">$ {{ journal_entry.debit_amount }}</td>
                    <td class="text-end">$ {{ journal_entry.credit_amount }}</td>
                    <td>
                        {% if journal_entry.transaction.is_posted %}
                        {% include 'img/green_circle_check.svg' %}
                        {% else %}
                        {% include 'img/red_circle_x.svg' %}
                        {% endif %}
                    </td>
                    <td>{{ journal_entry.transaction.post_date }}</td>
                </tr>
            {% empty %}
                <tr><td>No Journal Entries.</td></tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock content %}