{% extends 'base.html' %}

{% block title %}
Transactions
{% endblock title %}

{% block page_heading %}
<div class="px-3 h2">Transaction Details:</div>
{% endblock %}

{% block content %}
<table class="table table-striped table-hover table-bordered">
    <tr>        
        <th>Transaction Date</th>
        <td>{{ object.transaction_date }}</td>
    </tr>
    <tr>
        <th>Transaction Detail</th>
        <td> {{ object.description }}</td>
    </tr>
    <tr>
        <th>Balanced?</th>
        <td>
            {% if object.is_empty %}
            No Journal Entries attached.
            {% elif object.is_balanced %}
                {% include 'img/thumbs_up.svg' %}
            {% else %}
                {% include 'img/thumbs_down.svg' %}
            {% endif %}
        </td>
    </tr><tr>
        <th>Posted?</th>
        <td>
            {% if object.is_empty %}
                No Journal Entries attached.
            {% elif object.is_posted %}
                {{ object.post_date }}
            {% else %}
                <a class="btn btn-success" href="{% url 'post-transaction' object.slug %}">Post Now</a>
            {% endif %}
        </td>
    </tr>
</table>

<div class="px-3 h3">Journal Entries</div>
<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">Account </th>   
            <th scope="col">Debit</th>
            <th scope="col">Credit</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
    {% for journal_entry in object.entries.all %}
        <tr>
            <td>{{ journal_entry.account.description }}</td>
            <td class="text-end">$ {{ journal_entry.debit_amount }}</td>
            <td class="text-end">$ {{ journal_entry.credit_amount }}</td>            
        </tr>
        {% empty %}
        <tr><td>No Journal Entries.</td></tr>
    {% endfor %}
</tbody>

</table>

{% endblock content %}