{% extends 'base.html' %}

{% load static %}

{% block title %}
Transactions
{% endblock title %}

{% block page_heading %}
<div class="px-3 h2">Transactions</div>
{% endblock %}

{% block content %}
    
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Transaction Date</th>
                <th scope="col">Description </th>
                <th scope="col">Journal Entries</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for transaction in object_list %}
                <tr>
                    <td>{{ transaction.transaction_date }}</td>
                    <td><a href="{% url 'transaction-detail' transaction.slug %}">{{ transaction.description }}</a></td>
                    <td>{{ transaction.entries.count }}</td>
                    <td>
                        {% if transaction.is_posted %}
                            {% include 'img/green_circle_check.svg' %}
                        {% else %}
                            {% include 'img/red_circle_x.svg' %}
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr><td>No Transactions.</td></tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success" href="{% url 'create-transaction' %}">New Transaction</a>
{% endblock content %}