<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Accounting</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="{% url 'accounts' %}">Accounts</a>
          <a class="nav-link" href="{% url 'journal' %}">General Journal</a>  
          <a class="nav-link" href="{% url 'transactions' %}">Transactions</a>          
        </div>
      </div>
      <div class="nav justify-content-end">
        {% if user.is_authenticated %}
        <div class="nav-item">
            <form id="logout-form" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-link">Logout</button>
            </form>
        </div>
        {% else %}
        <div class="nav-item"><a  class="nav-link" href="{% url 'login' %}?next={{ request.path }}">Login</a></div>
        {% endif %}
      </div>
    </div>
</nav>