<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'accounts' %}">Accounting</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <ul class="nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Accounts</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'accounts' %}">Chart of Accounts</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'create-account' %}">New Account</a></li>
                </ul>
            </li>            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Transactions</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'transactions' %}">List of Transactions</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'create-transaction' %}">New Transaction</a></li>
                </ul>
            </li>       
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Journals</a>
                <ul class="dropdown-menu">
                    {% for journal in journal_types %}
                        <li><a class="dropdown-item" href="{% url 'filtered-journal' journal.code  %}">{{ journal.description }}</a></li>
                    {% empty %} 
                        <li><a class="nav-link" href="{% url 'journal' %}">General Ledger</a></li>
                        <li><a class="nav-link" href="{% url 'filtered-journal' 'IJ' %}">Inventory Ledger</a></li>
                    {% endfor %}
                </ul>
            </li>
         </ul>


        <div class="nav justify-content-end">
            {% if user.is_authenticated %}
            <div class="nav-item">
                <form id="logout-form" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link">Logout</button>
                </form>
            </div>
            {% else %}
            <div class="nav-item"><a  class="nav-link" href="{% url 'login' %}?next={{ request.path }}">Login</a></div>
            {% endif %}
          </div>
        </div>
    </nav>